// Tokens and base
@use 'tokens/colors';
@use 'tokens/layout';
@use 'tokens/variables';
@use 'base/reset';

// Abstractions (SASS entities)
@use 'abstracts/mixins' as *;
@use 'abstracts/media' as *;

// Utilities
@use 'utils/utils';

body {
	@include fluid-text(14, 16);

	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: var(--font-montserrat);
	line-height: 1.28;
	background-color: var(--color-bg);
	color: var(--color-primary);
	font-weight: 500;

	main {
		flex: 1 1 auto;
	}
}

a,
button,
input,
svg * {
	transition-duration: var(--transition-duration);
}
