.list {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;

	color: var(--Dark, rgba(13, 13, 13, 1));
	font-family: var(--font-golos-text);
	font-size: 0.875rem;
	font-weight: 400;
}

.item {
	display: block;
}

.button {
	padding: 8px 20px;
	border: var(--border);
	background: transparent;
	cursor: pointer;
	transition:
		background-color 0.15s ease,
		color 0.15s ease;

	&:hover:not(:disabled) {
		background: rgb(89, 89, 89);
		color: var(--color-bg);
	}

	&--active {
		background: var(--color-primary);
		color: var(--color-bg);
		border: 1px solid (--color-primary);

		&:hover {
			background: var(--color-primary);
		}
	}

	&--disabled {
		opacity: 0.4;
		cursor: not-allowed;
	}

	&:focus-visible {
		outline: 2px solid var(--color-primary);
		outline-offset: 2px;
	}
}
