@use '@app/styles/abstracts/mixins' as *;
@use '@app/styles/abstracts/media' as *;

.wrapper {
	display: flex;
	align-items: flex-end;
	column-gap: 16px;

	a {
		display: inline-block;
		border-radius: 100%;
		border: var(--border);
		background-color: rgb(255, 255, 255);

		@include square(50);
		@include flex-center;
	}

	a:first-child {
		margin-bottom: 8px;
		background-color: var(--color-pink);
		border: none;

		@include tablet {
			margin-bottom: 0px;
		}
	}
}
