@use '@app/styles/abstracts/mixins' as *;

.catalog-header {
	padding-block: 16px;
	border-bottom: var(--border);

	.content-wrapper {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;

		.title {
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: 2px;

			@include fluid-text(20, 36);
		}
	}
}
